[Unit]
Description=Run BetBoy Wettfinder once daily

[Timer]
OnCalendar=*-*-* 09:37:00
AccuracySec=1min
Persistent=false

[Install]
WantedBy=timers.target
